<formu-informacoes></formu-informacoes>
{{ title }}
<!-- <formu-formulario></formu-formulario> 
<div class="alert alert-primary w-50 mx-auto my-4 d-flex justify-content-center align-items-center " role="alert">
    <button class="btn btn-warning m-4 py-4 px-5 width-50" (click)="negativeVerify(contador-1); subtrair()"><h2>-</h2></button>
    <h1 [ngClass]="verify">{{ contador }}</h1>
    <button class="btn btn-primary m-4 py-4 px-5" (click)="negativeVerify(contador+1); somar()"><h2>+</h2></button>
</div> -->