<div class="card p-3 mx-auto my-3" style="width: 18rem;">
    <h3 class="card-title">{{personagem.nome}}</h3>
    <img src="{{personagem.imagem}}" class="card-img-top" alt="Black Mirror">
    <h5 class="card-title text-center mt-3">{{personagem.nomeAtor}}</h5>
    <div class="card-body">
      <p class="card-text text-justify">{{personagem.descricao}}</p>
      <a href="https://www.netflix.com/br/title/70264888?source=35" class="btn btn-secondary" target=_blank>Assistir agora</a>
    </div>
  </div>