<div class="card p-3 mx-auto my-3" style="width: 18rem;">
    <h3 class="card-title">Black Mirror</h3>
    <img src="https://styles.redditmedia.com/t5_2v08h/styles/communityIcon_6clakkbqhlf51.png?width=256&s=1bc221916461b9876f6368e6adb3230fae636d4a" class="card-img-top" alt="Black Mirror">
    <h5 class="card-title text-center mt-3">Tecnologia</h5>
    <div class="card-body">
      <p class="card-text text-justify">Centrada em temas obscuros e satíricos que examinam a sociedade moderna, particularmente a respeito das consequências imprevistas das novas tecnologias. Os episódios são trabalhos autônomos, que geralmente se passam em um presente alternativo ou em um futuro próximo.</p>
      <a href="https://www.netflix.com/br/title/70264888?source=35" class="btn btn-secondary" target=_blank>Assistir agora</a>
    </div>
  </div>